<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PerSec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C73C41D21BB7E1A4000A62C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C73C41E61BB7E1A4000A62C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C73C41F11BB7E1A4000A62C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
